<div class="header">
    <div class="grid">
      <div  class="col-offset-1 col-1 pl-5 pt-6" pTooltip="Menú de parametrización">
        <!--
          <div class="card flex justify-content-center  mr-8">
          
            <p-sidebar [(visible)]="sidebarVisible" class="sidebar-container" [ngClass]="{'collapsed': !sidebarVisible}" modal="false" >
              <h3>Parametrización</h3>
              <div class="flex overflow-y-auto">
                <ul class="flex list-none p-1 m-0" >
                  <li>
                    <div
                      pRipple
                      pStyleClass="@next"
                      enterClass="hidden"
                      enterActiveClass="slidedown"
                      leaveToClass="hidden"
                      leaveActiveClass="slideup"
                      class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
                    >
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden" >
                      <li *ngFor="let i of items">
                        <div *ngIf="i.items; else noChildren">
                          <div (click)="toggleItem(i)" class="flex align-items-start cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-folder mr-2"></i>
                            <span class="font-medium no-justify">{{ i.label }}</span>
                            <i class="pi pi-chevron-down ml-auto"></i>
                          </div>
                          <ul *ngIf="i.expanded" class="list-none p-0 m-0 ml-3">
                            <li *ngFor="let subItem of i.items">
                              <a
                                pRipple
                                class="flex no-underline align-items-start cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                                [href]="subItem.routerLink"
                              >
                                <i class="pi pi-link mr-2"></i>
                                <span class="font-medium no-justify">{{ subItem.label }}</span>
                              </a>
                            </li>    
                          </ul>
                        </div>
                        <ng-template #noChildren>
                          <a
                            pRipple
                            class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [href]="i.routerLink"
                          >
                            <i class="pi pi-link mr-2"></i>
                            <span class="font-medium no-justify">{{ i.label }}</span>
                          </a>
                        </ng-template>
                      </li>
                    </ul>
                   
                  </li>
                </ul>
              </div>
              <div class="flex">
                <ul class="list-none p-0 m-0 ml-3" style="width: 100%;">
                  <li style="width: 100%; display: flex; justify-content: center; align-items: center;">
                    <label class="align-items-center p-1 font-semibold" style="width: 100%;">
                      <span class="text-danger"></span>Estilos
                      <br/>
                      <br/>
                      <p-dropdown
                      [(ngModel)]="estilo"
                      [options]="listaEstilos"
                      (onChange)="cargarEstilos($event.value)"
                      appendTo="body"
                      [placeholder]="placeholderText"
                      pTooltip="Seleccione el tipo de estilo que quiere seleccionar en la aplicación."
                      [style]="{ width: '15rem' }"
                      />
                    </label>
                  </li>  
                </ul>
              </div>
            </p-sidebar>
            <p-button (onClick)="toggleSidebar()" icon="pi pi-bars"></p-button>
          </div>
          
          -->
          <div class="card">
            <p-menubar [model]="items" />
        </div>
      </div>
    <!-- 
      <div class="col-1 md:col-1 xl:col-1 mr-8">
        <a href="administracion/proyecto"><img src="../assets/images/Logo_UQ_PNG.png"/></a> 
      </div>
    -->
      <div id="contactame">
          <app-contactame></app-contactame> 
      </div>
    </div>
  </div>
   <!--
  <div class="pb-4 ">
    <img width="100%" src="../assets/images/border-uniquindio.jpg" />
  </div>  -->