<div class="footer centered-footer">
    <p class="justify-content align-items">&copy; 2023 Mi Portafolio. Todos los derechos reservados.</p>
    <p class="justify-content align-items">Contacto: <a href="mailto:contacto@miportafolio.com">contactomiportafolio.com</a></p>
    <p class="justify-content align-items">Síguenos en:
        <a href="https://www.facebook.com" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com" target="_blank">Twitter</a> |
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
    </p>
</div>