    <div class="grid flex-row p-d-flex p-jc-center p-ai-center bg-light-gray">
        <div class="col-12">
            <img alt="Card" src="assets/images/fotoHV.png" class="custom-avatar h-full w-1" />
        </div>
        <div class="flex flex-row col-12 p-0">
            <h1 class="font-Onest ">Hola! Soy JuansesDev</h1>
            <a class="flex justify-center items-center my-4 mx-2"
                            href="https://www.linkedin.com/in/juan-sebasti%C3%A1n-san%C3%ADn-villarreal-319584225/" 
                            target="_blank" 
                            rel="noopener">
                            <p-badge [value]="disponibleTrabajar" severity="success"/>
            </a>
        </div>
    </div>
    <div class="p-d-flex p-jc-center p-ai-center p-mt-3 bg-light-gray">
        <p class="font-Onest">
            <span class="font-bold">+1 año de experiencia certificada. </span>
            <span class="text-yellow-500 font-bold"> Desallorador web full-stack. </span> 
            <span class="text-green-500 font-bold"> De Quindío/Colombia.</span> 
            <span class="opacity-70"> Especializado en front-end en los
            frameworks Angular y React, Back-end en springBoot, BBDD en postgreSQL y MySQL, y Nube en AWS
        </span>
        </p>
    </div>